name: Compile check

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  Compilation:

    runs-on: macos-11

    steps:
    - uses: actions/checkout@v3
    - name: Install Homebrew
      run: |
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    - name: Install Readline
      run: brew install readline
    - name: make
      run: make
    - run: echo "Compiled Successfully"
    - name: make clean
      run: make clean
    - run: echo "clean rule present"
    - name: make fclean
      run: make fclean
    - run: echo "fclean - removed minishell and libft"
    - name: make re
      run: make re
    - run: echo "Recompiled Succesfully"
